<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Way Binding</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model='fullName' placeholder="Nhap Ten">
    <br>
    <textarea v-model='about' cols="30" rows="10"></textarea>
    <h1>Full Name = {{ fullName }}</h1>
    <p>{{ about }}</p>
  </div>
</body>
<script src="main.js"></script>
</html>